.Input-file{
    border: 1px solid #9ebbe8;
    padding: 1vh  2vh;
    border-radius: 25px;
}
.btn{
    background-color:#9ebbe8 ;
    padding: 1vh 2vh;
}
.slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    width:90%;
    margin: 3vh auto auto auto;
}